
.dialog {
  background: rgba(0, 0, 0, .2);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.dialog .body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
}


.total-limit-read {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: red;
  color: #FFF;
}

.total-favorit {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: blue;
  color: #FFF;
}

.wrap-nav {
  position: relative;
  top: 50px;
}


.cursor-pointer {
  cursor: pointer;
}